body {
    background-color: #262a2f;
}

.container {
    background-color: #fff;
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input {
    width: 100%;
    height: 50%;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

.container button {
    width: 100%;
    height: 50px;
    border: 0;
    outline: o;
    cursor: pointer;
    font-weight: 500;
    background-color: #494eea;
    color: white;
}

.Qrbox {
    width: 200px;
    border-radius: 5px;
    max-height: 1;
    overflow: hidden;
}

.Qrbox img {
    width: 100%;
    padding: 10px;
}
