*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color: white;
}

.con{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px ;
    border-radius: 5px;
}

.con h1{
    font-weight: 500;
    font-size: 45px;

}

.con h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display img{
    width: 30px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
    
}
.con button img{
    width: 28px;
    margin-right: 10px;
}

.con button{
    border: 0;
    outline: 0;
    background-color: #019f55;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 300;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}